@import '../reset.scss';
@import '../palette.scss';
@import '../shared.scss';


.navigation {
    width: 1098px;
    height: 45px;
    margin-left: 375px;
    margin-top: 23px;
    @include flex(space-between,center);


    .logo{
        width: 158px;
        height: 45px;
        display: flex;
        @include flex(space-between,center);

        p {
            font-size: 36px;
            color: #34495E;
            font-family: 'Lato', sans-serif;
            font-weight: 400;

            span{
                font-family: inherit;
                font-weight: 900;
            }
        }
    }

    ul {
        width: 71.8%;
        height: 15px;
        display: flex;
        flex-direction: row;
        transform: translate(0%,-21%);
        list-style-type: none;
        
        li{
            @include text-features(left,15px,'Lato',400,#A1B1BC);
            display: block;
            height: 100%;
            padding: 0px;
            margin-left: 5.89%;
        }
    }
}