@import '../reset.scss';
@import '../palette.scss';
@import '../shared.scss';

.feature {
    width: 1920px;
    height: 881px;
    background-color: #222533;
    position: relative;
    overflow: hidden;

    .title {
        width: 546px;
        height: 83px;
        margin: auto;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%);

        h1 {
            @include text-features(center,36px,'Lato',300,#FFFFFF);
            margin: 0px;
            transform: translate(0%,-15%);

            span {
                font-family: inherit;
                font-weight: 400;
                color: green;
            }
        }

        p {
            @include text-features(center,15px,'Lato',400,#E8E8E8);
            margin: 0px;
            transform: translate(-0.2%,-4.4%);
            line-height: 24px;
        }
    }

    .div1-div2 {
        width: 293px;
        height: 453px;
        position: absolute;
        top: 322px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .div1 {
        @extend .div1-div2;
        left: 19.9%;

        div {
            height: 121px;
            width: 100%;

            h1 {
                @include text-features(right,18px,'Lato',bold,#FFFFFF);
                margin: 0px;
                margin-right: 15px;
                transform: translate(0%,50%);
                float: right;
            }

            div {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #1FDAB5;
                float: right;
            }
            p {
                width: 300px;
                color: #E8E8E8;
                text-align: right;
                font-size: 14px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                margin: 0px;
                transform: translate(-0.2%,10%);
                line-height: 24px;
                float: right;
            }
        }





    }




    .div2 {
        @extend .div1-div2;
        position: absolute;
        right: 19.9% ;


        div {
            height: 121px;
            width: 100%;

            h1 {
                @include text-features(left,18px,'Lato',bold,#FFFFFF);
                margin: 0px;
                margin-left: 15px;
                float: left;
                transform: translate(-2.6%,53%);
            }

            div {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #1FDAB5;
                float: left;
            }

            p {
                width: 300px;
                color: #E8E8E8;
                text-align: left;
                font-size: 14px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                margin: 0px;
                transform: translate(-0.2%,10%);
                line-height: 24px;
                float: left;
            }
        }
    }

    img {
        position: absolute;
        top: 232px;
        left: 737px;
    }



}