html, body, ul {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
  align-items: left;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

p {
  margin: 0px;
}

.portfolio {
  width: 1920px;
  height: 844px;
  position: relative;
}
.portfolio .title {
  width: 32.3%;
  min-height: 87px;
  margin: auto;
  transform: translate(0px, 100px);
}
.portfolio .title h1 {
  text-align: center;
  font-size: 36px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #2C3E50;
  margin: 0px;
  transform: translate(0%, -22%);
}
.portfolio .title p {
  text-align: center;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #A1B1BC;
  margin: 0px;
  transform: translate(0%, 3.5%);
  line-height: 24px;
}
.portfolio .box {
  height: 505px;
  width: 1171px;
  position: absolute;
  top: 239px;
  left: 375px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio .box .works {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .box .works > :nth-child(1) {
  background-color: #ECF0F1;
  width: 292px;
  height: 200px;
}
.portfolio .box .works > :nth-child(2) {
  background-color: #A1B1BC;
  width: 292px;
  height: 200px;
}
.portfolio .box .works > :nth-child(3) {
  background-color: #ECF0F1;
  width: 292px;
  height: 200px;
}
.portfolio .box .works > :nth-child(4) {
  background-color: #A1B1BC;
  width: 292px;
  height: 200px;
}
.portfolio .box .works > :nth-child(5) {
  background-color: #A1B1BC;
  width: 292px;
  height: 200px;
}
.portfolio .box .works > :nth-child(6) {
  background-color: #ECF0F1;
  width: 292px;
  height: 200px;
}
.portfolio .box .works > :nth-child(7) {
  background-color: #A1B1BC;
  width: 292px;
  height: 200px;
}
.portfolio .box .works > :nth-child(8) {
  background-color: #ECF0F1;
  width: 292px;
  height: 200px;
}
.portfolio .box .works .ddiv {
  width: 292px;
  height: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: initial;
}
.portfolio .box .works .ddiv > :first-child {
  width: 100%;
  height: 130px;
  background-color: #2C3E50;
  position: relative;
}
.portfolio .box .works .ddiv > :first-child p {
  text-align: center;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: white;
  position: absolute;
  top: 40px;
  left: 135px;
  width: 24px;
  height: 26px;
}
.portfolio .box .works .ddiv > :first-child div {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 8px solid white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
}
.portfolio .box .works .ddiv > :last-child {
  width: 100%;
  height: 70px;
  position: relative;
}
.portfolio .box .works .ddiv > :last-child h1 {
  text-align: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #2C3E50;
  position: absolute;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 300px;
  margin: 0px;
  transform: translate(-49.2%, -5%);
  letter-spacing: 1.5px;
}
.portfolio .box .works .ddiv > :last-child p {
  text-align: initial;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #A1B1BC;
  margin: 0px auto;
  letter-spacing: 1px;
  transform: translate(32.5%, 270%);
}
.portfolio .box .navig {
  width: 100%;
  height: 55px;
  border-top: 1px solid #ECF0F1;
  border-bottom: 1px solid #ECF0F1;
  box-shadow: 0px 2px #ECF0F1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio .box .navig ul {
  width: 877px;
  height: 14px;
  font-size: 14px;
  text-align: left;
  list-style-type: none;
  padding: 0px;
  transform: translate(0%, -20%);
}
.portfolio .box .navig ul li {
  text-align: center;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #A1B1BC;
  display: inline-block;
  margin-left: 3.3%;
}
.portfolio .box .navig button {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #2C3E50;
  font-size: 14px;
  background-color: #ECF0F1;
  border: 1px solid #ECF0F1;
  width: 122px;
  height: 37px;
  border-radius: 5px;
}

/*# sourceMappingURL=component7.css.map */
