@import '../reset.scss';
@import '../palette.scss';
@import '../shared.scss';

.header {
    width: 1920px;
    height: 1280px;
    background-color: #222533;
    position: relative;
    margin: 0px;

    .p1 {
        @include text-features(center,29px,'Lato',400);
        position: absolute;
        top: 471px;
        left: percent-finder(1920,712);
        letter-spacing: 9.6px;
        transform: translate(0%,-20%);

        span {
            color: rgb(29,142,124);
        }
    }

    .p2 {
        @include text-features(center,60px,'Lato',900);
        position: absolute;
        top: 523px;
        left: 418px;
        transform: translate(-1.5%,-21%);

    }


    .p3 {
        @include text-features(center,30px,'Lato',300);
        color: #FFFFFF;
        position: absolute;
        top: 598px;
        left: 575px;
        font-size: 30px;
        transform: translate(-2%,-20%);
    }

    .button {
        width: 421px;
        height: 61px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 690px;
        left: 780px;
        transform: translate(-7%,-38%);
        box-sizing: border-box;

        &>:first-child {
            @include text-features(center,18px,'Lato',900);
            width: 201px;
            height: 100%;
            background-color: inherit;
            border: 2px solid white;
            box-sizing: border-box;

        }


        &>:last-child {
            @include text-features(center,18px,'Lato',900);
            width: 201px;
            height: 100%;
            background-color: $green;
            border: 2px solid white;
            box-sizing: border-box;
        }
    }

    .radio {
        width: 86px;
        height: 14px;
        position: absolute;
        top: 767px;
        left: 917px;
        @include flex(space-between);

        div {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $white;
        }
    }

}



